/* ========== Reset ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #000;
  color: #eee;
  overflow-x: hidden;
}

/* ========== Intro Video ========== */
.intro {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
  background: #000;
}

.intro video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition:
    transform 3s ease,
    opacity 1s ease;
}

.intro video.zoom-move {
  transform: scale(15) translateY(-2%);
  transition: transform 3s ease;
  opacity: 1;
}

#playVideoBtn {
  position: absolute;
  bottom: 20%;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background: none;
  cursor: pointer;
  z-index: 10000;
  transition: opacity 0.3s ease;
  opacity: 0.8;
}

.site {
  display: none;
}

.logo-reveal.active .logo {
  animation: rotateReveal 1.2s ease forwards;
}

@keyframes rotateReveal {
  0% {
    opacity: 0;
    transform: scale(0.8) rotate(-180deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}

/* ========== Navbar (Mobile First) ========== */
.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  padding: 1.2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000; 
}
.navbar p{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.4rem;
}
.nav-icons-desktop .fa-cart-shopping {
  order: -1; 
  margin-right: auto;
}
.nav-icons-desktop,
.hamburger {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}



/* ================= Mobile Menu ================= */
.nav-links {
  list-style: none;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  flex-direction: column;
  transition: right 0.5s cubic-bezier(0.77, 0, 0.18, 1);
}

.nav-links.active {
  right: 0;
}

.head-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
}

.head-nav i {
  font-size: 1.3rem;
  cursor: pointer;
}
.cart-fixed {
  position: fixed; 
  top: 4%; 
  left: 20px; 
  transform: translateY(-50%); 
  z-index: 900; 
  cursor: pointer;
}


.hamburger .fa-bars,.fa-brands{
  font-size: 1.2rem;
}
.cart-fixed .cart-icon {
  width: 32px; 
}

.cart-fixed .badge {
  position: absolute;
  top: -1px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.cart-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.cart-icon {
  width: 35px;
}

.badge {
  position: absolute;
  top: -2px;
  right: -3px;
  background-color: red;
  color: white;
  font-size: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.nav-links li {
  text-align: center;
  margin-top: 2.5rem;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
}
.nav-links li a:hover {
  color: #686464;
}
.close-menu {
  width: 25px !important;
  font-weight: 400;
  transition:
    transform 0.4s ease,
    opacity 0.3s ease;
  cursor: pointer;
}

.nav-links.active .close-menu {
  transform: rotate(360deg) scale(1.1);
}

.nav-links.active li {
  opacity: 1;
  transform: translateY(0);
}
.nav-links.active li:nth-child(2) {
  transition-delay: 0.1s;
}
.nav-links.active li:nth-child(3) {
  transition-delay: 0.2s;
}
.nav-links.active li:nth-child(4) {
  transition-delay: 0.3s;
}
.nav-links.active li:nth-child(5) {
  transition-delay: 0.4s;
}
.nav-links li:first-of-type {
  margin-top: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #eee;
  font-size: 1rem;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.icon-mobile {
  margin-top: auto;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.nav-icon-mobile {
  font-size: 1.3rem;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.nav-icon-mobile:hover {
  color: #ff0000;
  transform: scale(1.2);
}

/* ================= Desktop ================= */

.nav-icons-desktop {
  display: none;
}

/* ========== video-header ========== */
.video-header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#video-headerVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay خفيف عشان النص يبان */
.video-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.video-text {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  /* background: rgba(0, 0, 0, 0.479); */
  padding: 40px 50px;
  backdrop-filter: blur(5px);
  text-align: left;
}

.small-text {
  display: block;
  color: white;
  font-size: 0.9rem;
  letter-spacing: 4px;
  margin-bottom: 10px;
    font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.big-text {
  display: block;
  color: white;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.two-img {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0.66rem;
}
.two-img img {
  width: 48.5vw;
}

.slider-wrapper {
  position: relative;
  overflow: hidden;
}

.slider-container {
  overflow: hidden;
  width: 100%;
}

.slider-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

.slider-header a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.slider-header i{
  font-size: 0.9rem;
  transition: all 0.3s;
}
.slider-header a:hover i {
  transform: translateX(2px);
}

.slider-header h4{
  font-size: 1.5rem;
}
.slider-track {
  display: flex;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;  gap: 10px;
}

.slide {
  min-width: 150px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.slide img:hover {
  transform: scale(1.05);
}


.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.9);
  border: none;
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  transition: background 0.3s ease, transform 0.2s ease;
}



.slider-btn i {
  font-size: 1rem;
  color: #000;
}

.slider-btn.prev {
  left: 10px; 
}

.slider-btn.next {
  right: 10px; 
}


.cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 5rem;
}
.home-btn {
  position: absolute;
  top: 28px;
  left: 20px;
  font-size: 0.9rem;
  color: black;
  text-decoration: none;
  z-index: 1000;
  background: #fff;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: transform 0.2s;
}

.home-btn:hover {
  transform: scale(1.1);
}

.product-container {
  width: 100%;
  max-width: 500px;
}

/* ========== Card ========== */
.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #000000;
  padding: 1rem;
  border-radius: 10px;
}

.image-section {
  position: relative;
}

.image-section img {
  width: 100%;
  object-fit:contain;
}

.limited {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #d31010;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
}

.wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white; 
  color: #0e0d0d; 
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.3s ease;
}

.wishlist.active i {
  color: red; 
}

.wishlist i{
  font-size: 1rem;
}
.info-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.product-name {
  font-size: 1.5rem;
}

.price {
  font-size: 1.2rem;
  color: #ffffff;
}

.colors, .sizes {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.color-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #eee;
}

.size {
  border: 1px solid #eee;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn {
  margin-top: 1rem;
  padding: 15px;
  background: #f7f5f5;
  color: #080808;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

.add-btn:hover {
  background: #000000;
  color: white;
}

.summary-item h3 {
  cursor: pointer;
  background: #000;
  padding: 10px;
  border-radius: 6px;
  transition: background 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-icon {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}


.color-circle.selected {
  border: 2px solid #fff;
  transform: scale(1.2);
  transition: 0.2s ease;
}

.size.selected {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  transition: 0.2s ease;
}


.summary-content {
  display: none; 
}

.summary-item h3.active + .summary-content {
  display: block; 
}


.summary-item h3.active .toggle-icon {
  transform: rotate(45deg); 
}
.summary-content {
  display: block;
  text-align: left; 
  padding: 10px 15px; 
  font-size: 0.9rem;
  font-weight: 400;
  color: #a89f9f;
}

.summary-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10px; 
}


.summary-separator {
  height: 1px;
  background: #333;
  margin: 0.5rem 0;
}


/* ================= FOOTER ================= */

.footer {
  background: #000;
  color: #fff;
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  border-top: 1px solid #111;
}

/* Left */
.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo {
  width: 120px;
  margin-bottom: 1rem;
}

.footer-desc {
  font-size: 0.85rem;
  line-height: 1.7;
  max-width: 320px;
  color: #bbb;
  margin-bottom: 1.5rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons a {
  width: 38px;
  height: 38px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background: #fff;
  color: #000;
}

/* Center */
.footer-center ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: center;
}

.footer-center a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.footer-center a:hover {
  opacity: 1;
}

.social-icons a{
  text-decoration: none;
  color: white;
}
/* Right */
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}

.footer-right p {
  font-size: 0.85rem;
  opacity: 0.8;
}

/* Newsletter */
.newsletter {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-top: 0.8rem;
  width: 100%;
  max-width: 320px;
}

.newsletter input {
  padding: 0.7rem 1rem;
  border: 1px solid #fff;
  border-radius: 6px;
  background: #000;
  color: #fff;
  outline: none;
  text-align: center;
}

.newsletter input::placeholder {
  color: #888;
}

.newsletter button {
  padding: 0.7rem 1rem;
  border: 1px solid #fff;
  border-radius: 6px;
  background: #fff;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.newsletter button:hover {
  background: #000;
  color: #fff;
}

/* ================= Tablet & Desktop ================= */

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem 5%;
  }

  .footer-left,
  .footer-right {
    align-items: flex-start;
    text-align: left;
  }

  .footer-center ul {
    flex-direction: row;
    gap: 2rem;
  }

  .newsletter {
    flex-direction: row;
  }

  .newsletter input {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer-center ul {
    flex-direction: row;
    gap: 2rem;
  }
  .footer-left,
  .footer-center,
  .footer-right {
    align-items: flex-start;
  }
  .newsletter {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer-center ul {
    flex-direction: row;
    gap: 2rem;
  }
  .footer-left,
  .footer-center,
  .footer-right {
    align-items: flex-start;
  }
}

/* ================= Tablet ≥ 768px ================= */
@media (min-width: 768px) {
  .logo-wrap {
    width: 260px;
  }

  .video-header {
    height: 360px;
  }

  .cards-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 1.5rem;
    justify-items: center;
  }

  .nav-links {
    position: static;
    height: auto;
    width: auto;
    background: transparent;
    flex-direction: row;
    padding: 0;
  }

  .nav-links li {
    margin: 0 1rem;
  }

  .hamburger {
    display: none;
  }

  .nav-icons-desktop {
    display: flex;
  }

  .dots {
    bottom: 20px;
  }
}

/* ================= Desktop ≥ 1024px ================= */
@media (min-width: 1024px) {
  .logo-wrap {
    width: 300px;
  }

  .video-header {
    height: 480px;
  }

  .cards-section {
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    gap: 2rem;
    justify-items: center;
  }
  .nav-links li::after {
    content: none !important;
  }
  .nav-links li {
    margin: 0 1.5rem;
  }

  .dots {
    bottom: 260px;
  }

  .slide img {
    object-fit: cover;
  }
  .icon-mobile {
    display: none;
  }
}
